<section class="content-header">
  <h1>
    Budget Code Type
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li class="active">Budget Code Type - <a href="/admin/group">Edit</a></li>
  </ol>
</section>

<section class="content">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">

              <li class="active"><a href="#settings" data-toggle="tab">Budget Code Type - Edit</a></li>
            </ul>
            <div class="topbtn"><a href="" onclick="history.back()"><button type="button" class="btn bg-purple btn-rightad">Back</button></a></div>
            <div class="tab-content">

              	{{#if error_message}}
              	<div class="alert alert-danger" id="result77">
              	{{error_message}}
              	</div>
              	{{/if}}
               <div class="tab-pane active" id="settings">
                <form name="frmBudgetCode" id="frmBudgetCode" method="post" action="/admin/budgetcodetype/edit/{{budgetcodetype.id}}" class="form-horizontal" >

                  <div class="form-group required">
                    <label for="name" class="col-sm-2 control-label">Budget Type Code</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control input-control" id="code" placeholder="Enter Budget Type Code" name="code" value="{{budgetcodetype.code}}">
                      <span class="text-danger"></span>
                    </div>
                  </div>

                  <div class="form-group required">
                    <label for="description" class="col-sm-2 control-label">Budget Type Name</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control input-control" id="budget_code_type" placeholder="Enter Budget Type Name" name="budget_code_type" value="{{budgetcodetype.budget_code_type}}">
                      <span class="text-danger"></span>
                    </div>
                  </div>

                  <div class="form-group ">
                    <label for="remarks" class="col-sm-2 control-label">Remarks</label>

                    <div class="col-sm-10">
                      <textarea class="form-control input-control" id="remarks" placeholder="Enter Remarks" name="remarks" >{{budgetcodetype.remarks}}</textarea>
                      <span class="text-danger"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">

                      <button type="submit" class="btn btn-danger">Submit</button>

                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

</section>

<script type="text/javascript">
$(document).ready(function(e){

  $(".input-control").on("keydown input", function(e) {
    if ((e.which === 32 && !this.value.length) || (e.shiftKey && (e.which == 188 || e.which == 190)))
        e.preventDefault();
  });

  $(".input-control").bind("copy paste", function(e){
    e.preventDefault();
  });

  $("#frmBudgetCode").validate({
    rules: {
      code: {
        required: true
      },
      budget_code_type: {
        required:  true
      },
      // remarks: {
      //   required: true
      // }
    },
    messages: {
      code: {
        required: "Please enter budget type code"
      },
      budget_code_type: {
        required:  "Please enter budget type name"
      },
      // remarks: {
      //   required: "Please enter remarks"
      // }
    }
  });
});
</script>
