<section class="content-header">
  <h1>
    Attorney Type
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li class="active">Attorney Type - <a href="/admin/group">Edit</a></li>
  </ol>
</section>

<section class="content">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              
              <li class="active"><a href="#settings" data-toggle="tab">Attorney Type - Edit</a></li>
            </ul>
            <div class="tab-content">
            	
              	{{#if error_message}}
              	<div class="alert alert-danger" id="result77">
              	{{error_message}}
              	</div>
              	{{/if}}
               <div class="tab-pane active" id="settings">
                <form name="frmAttorneyType" id="frmAttorneyType" method="post" action="/admin/attorney-type/edit/{{attorney_details.id}}" class="form-horizontal" >
                  
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Code</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control input-control" id="code" placeholder="Enter Attorney Code" name="code" value="{{attorney_details.code}}">
                      <span class="text-danger"></span>
                    </div>
                  </div>

                  <div class="form-group ">
                    <label for="description" class="col-sm-2 control-label">Attorney</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control input-control" id="attorney" placeholder="Enter Attorney" name="attorney" value="{{attorney_details.attorney}}">
                      <span class="text-danger"></span>
                    </div>
                  </div>

                  <div class="form-group ">
                    <label for="remark" class="col-sm-2 control-label">Remarks</label>

                    <div class="col-sm-10">
                      <textarea class="form-control input-control" id="remark" placeholder="Enter Remarks" name="remark" >{{attorney_details.remark}}</textarea>
                      <span class="text-danger"></span>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

</section>

<script type="text/javascript">
$(document).ready(function(e){

  $(".input-control").on("keydown input", function(e) {
    if ((e.which === 32 && !this.value.length) || (e.shiftKey && (e.which == 188 || e.which == 190)))
        e.preventDefault();
  });

  $(".input-control").bind("copy paste", function(e){
    e.preventDefault();
  });

  $("#frmAttorneyType").validate({
    rules: {
      code: {
        required:  true
      },
      attorney: {
        required: true
      },
      remark: {
        required: true
      }
    },
    messages: {
      code: {
        required:  "Please enter attorney type code"
      },
      attorney: {
        required: "Please enter attorney type name"
      },
      remark: {
        required: "Pleae enter remarks"
      }
    }
  });
});
</script>