<section class="content-header">
  <h1>
    Competitor
    <small>Edit</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <a href="/admin/competitor"><button type="button" class="btn bg-purple btn-rightad" style="padding: 2px 5px 2px 5px;margin: -1px 2px 2px 8px;">Back</button></a>

  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- SELECT2 EXAMPLE -->
  <div class="box box-default">
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        {{#if error_message}}
        <div class="alert alert-danger" id="result77">
        {{error_message}}
        </div>
        {{/if}}
        <form name="frmMasterContact" id="frmMasterContact" method="POST" action="/admin/competitor/add">
        <div class="col-md-6">
          <h3 class="hint"> General Information </h3>
          <div class="form-group required">
            <input type="hidden" name="attorney_id" id="attorney_id" class="form-control" value = "{{user.id}}">
            <label>Competitor ID</label>
            <input type="text" name="competitor_id" id="competitor_id" class="form-control" placeholder="Enter Competitor ID" value="{{competitor.competitor_id}}">
          </div>
          <div class="form-group required">
            <label>Competitor Code</label>
            <input type="text" name="competitor_code" id="competitor_code" class="form-control" placeholder="Enter Competitor Code" value="{{competitor.code}}">
          </div>
          <div class="form-group required">
            <label>First Name</label>
            <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Enter First Name" value="{{competitor.first_name}}">
          </div>
          <div class="form-group required">
            <label>Last Name</label>
            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Enter Last Name" value="{{competitor.last_name}}">
          </div>
          <div class="form-group required">
            <label>Date Of Birth</label>
            <input type="text" name="dob" id="dob" class="form-control" placeholder="Enter Date Of Birth" value="{{competitor.dob}}">
          </div>
          <div class="form-group required">
            <label>Industry Type</label>
            <select class="form-control" style="width: 100%;" id="industry_type" name="industry_type">
              <option value="">Select Any</option>
              {{#each industry_types}}
                <option value="{{this.id}}" {{#if_eq this.id ../competitor.industry_type}} selected="select" {{/if_eq}}>{{this.industry}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group required">
            <label>Experience</label>
            <input type="text" name="experience" id="experience" class="form-control" placeholder="Enter Experience">
          </div>
          <div class="form-group required">
            <label>Bar Date</label>
            <input type="text" name="bar_date" id="bar_date" class="form-control" placeholder="Enter Bar Date">
          </div>
          <div class="form-group">
            <label>Bar Belongs To State</label>
            <input type="text" name="belongs_to_state" id="belongs_to_state" class="form-control" placeholder="Bar belongs to state">
          </div>
          <h3 class="hint"> Ranking </h3>
          <div class="form-group required">
            <label>Independent</label>
            <select class="form-control" style="width: 100%;" id="independent" name="independent">
              <option value="">Select Independent Ranking</option>
              {{#each rank}}
                <option value="{{this.short_description}}">{{this.short_description}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label>Chambers</label>
            <select class="form-control" style="width: 100%;" id="chambers" name="chambers">
              <option value="">Select Chambers Ranking</option>
              {{#each rank}}
                <option value="{{this.short_description}}">{{this.short_description}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label>Best</label>
            <select class="form-control" style="width: 100%;" id="best" name="best">
              <option value="">Select Best Ranking</option>
              {{#each rank}}
                <option value="{{this.short_description}}">{{this.short_description}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label>Martindale</label>
            <select class="form-control" style="width: 100%;" id="martin" name="martin">
              <option value="">Select Martindale Ranking</option>
              {{#each rank}}
                <option value="{{this.short_description}}">{{this.short_description}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label>Super Lawyers</label>
            <select class="form-control" style="width: 100%;" id="super_lawyer" name="super_lawyer">
              <option value="">Select Super Lawyers Ranking</option>
              {{#each rank}}
                <option value="{{this.short_description}}">{{this.short_description}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <h3 class="hint"> Enter Address </h3>
          <div class="form-group required">
            <label>Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" id="phone" class="form-control" placeholder="Enter Phone No">
          </div>
          <div class="form-group">
            <label>Fax</label>
            <input type="text" name="fax" id="fax" class="form-control" placeholder="Enter Fax">
          </div>
          <div class="form-group">
            <label>Mobile</label>
            <input type="text" name="mobile_cell" id="mobile_cell" class="form-control" placeholder="Enter Mobile">
          </div>
          <div class="form-group">
            <label>Website Url</label>
            <input type="text" name="website_url" id="website_url" class="form-control url_selector" placeholder="Enter Website Url">
          </div>
          <div class="form-group">
            <label>Social Url</label>
            <input type="text" name="social_media_url" id="social_media_url" class="form-control url_selector" placeholder="Enter Social Url">
          </div>
          <div class="form-group required">
            <label>Address Line 1</label>
            <input type="text" name="address_line_1" id="address_line_1" class="form-control" placeholder="Enter Address Line 1">
          </div>
          <div class="form-group">
            <label>Address Line 2</label>
            <input type="text" name="address_line_2" id="address_line_2" class="form-control" placeholder="Enter Address Line 2">
          </div>
          <div class="form-group">
            <label>Address Line 3</label>
            <input type="text" name="address_line_3" id="address_line_3" class="form-control" placeholder="Enter Address Line 3">
          </div>
          <div class="form-group required">
            <label>Country</label>
            <select class="form-control" style="width: 100%;" id="target_country_id" name="country_id">
              <option value="">Select Country</option>
              {{#each countries}}
                <option value="{{this.id}}" {{#if_eq this.id "233"}} selected="selected" {{/if_eq}}>{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group required">
            <label>State</label>
            <select class="form-control" style="width: 100%;" id="target_state_id" name="state_id">
              <option value="">Select State</option>

            </select>
          </div>
          <div class="form-group required">
            <label>City</label>
            <select class="form-control" style="width: 100%;" id="target_city_id" name="city_id">
              <option value="">Select City</option>

            </select>
          </div>
          <div class="form-group required">
            <label>Postal Code</label>
            <select class="form-control" style="width: 100%;" id="target_zipcode" name="zipcode">
              <option value="">Select Zipcode</option>

            </select>
          </div>

          <h3 class="hint"> Remarks </h3>
          <div class="form-group required">
            <label>Remarks</label>
            <textarea class="form-control" name="remarks" id="remarks" name="remarks"></textarea>
          </div>

        </div>

        <div class="col-md-12">
          <div class="form-group">

            <button type="submit" class="btn btn-danger">Submit</button>

          </div>
        </div>
        </form>

      </div>
      <!-- /.row -->
    </div>

  </div>


</section>
<script type="text/javascript">
$(document).ready(function(e){

  $(".input-control").on("keydown input", function(e) {
    if ((e.which === 32 && !this.value.length) || (e.shiftKey && (e.which == 188 || e.which == 190)))
        e.preventDefault();
  });

  $(".input-control").bind("copy paste", function(e){
    e.preventDefault();
  });

  // to prevent alphabet character
  jQuery('#phone').keyup(function() {
      this.value = this.value.replace(/[^0-9\+]/g, '');
  });

  jQuery('#mobile_cell').keyup(function() {
      this.value = this.value.replace(/[^0-9\+]/g, '');
  });

  jQuery('#fax').keyup(function() {
      this.value = this.value.replace(/[^0-9\+]/g, '');
  });
  //end

  $("#dob").datepicker({
        'format': 'dd-mm-yyyy',
        'autoclose': true,
         
  });

  $("#bar_date").datepicker({
        'format': 'dd-mm-yyyy',
        'autoclose': true,
         
  });

  // country state city operation //
  var country_id = $("#target_country_id").val();
    if(country_id) {
      setTimeout(function() {
        $("#target_country_id").trigger('change');
    },10);
    }
    $("#target_country_id").change(function(e){

      var country_id = $(this).val();
      $("#target_state_id").find('option').not(':first').remove();

      if(country_id) {
        $.ajax({
          type: "POST",
          url: "/admin/firm/get-state",
          data: {country_id:country_id},
          async: false,
          success:function(response) {
            for(var i=0;i<response.states.length;i++) {

              $("#target_state_id").append('<option value="'+response.states[i].id+'">'+response.states[i].name+'</option>');
            }
          }
        });

      }
        $('#target_state_id option:eq(1)').attr('selected', 'selected');

        $( "#target_state_id" ).trigger( "change" );


    });

    $("#target_state_id").change(function(e){
      var state_id = $(this).val();

      $("#target_city_id").find('option').not(':first').remove();
      if(state_id) {
          $.ajax({
            type: "POST",
            url: "/admin/firm/get-city",
            data: {state_id:state_id},
            async: false,
            success:function(response) {
              for(var i=0;i<response.cities.length;i++) {

                $("#target_city_id").append('<option value="'+response.cities[i].id+'">'+response.cities[i].name+'</option>');
              }
            }
          });
      }
        $('#target_city_id option:eq(1)').attr('selected', 'selected');

        $( "#target_city_id" ).trigger( "change" );
    });

    $("#target_city_id").change(function(e){
      var city_name = $("#target_city_id option:selected").text();
      $("#target_zipcode").find('option').not(':first').remove();
      if(city_name) {
        $.ajax({
          type: "POST",
          url: "/admin/firm/get-zipcode",
          data: {city_name:city_name},
          async: false,
          success:function(response) {
            for(var i=0;i<response.zipcodes.length;i++) {
              $("#target_zipcode").append('<option value="'+response.zipcodes[i].zip+'">'+response.zipcodes[i].zip+'</option>');
            }
          }
        });
          $('#target_zipcode option:eq(1)').attr('selected', 'selected');
      }
    });

  // end //

  $("#frmMasterContact").validate({
    rules: {
      competitor_id: {
        required: true
      },
      competitor_code: {
        required: true
      },
      first_name: {
        required: true
      },
      last_name: {
        required:  true
      },
      experience: {
        required:  true
      },
      dob: {
        required:  true
      },
      gender: {
        required:  true
      },
      industry_type: {
        required:  true
      },
      bar_date: {
        required:  true
      },
      belongs_to_state: {
        required:  true
      },
      independent: {
        required: true
      },
      chambers: {
        required: true
      },
      best: {
        required: true
      },
      martin: {
        required: true
      },
      super_lawyer: {
        required: true
      },
      email: {
        required:  true
      },
      mobile_cell: {
        required:  true
      },
      address_line_1: {
        required:  true
      },
      country_id: {
        required:  true
      },
      state_id: {
        required:  true
      },
      city_id: {
        required:  true
      },
      zipcode: {
        required:  true
      }

    },
    messages: {
      competitor_id: {
        required: "Please enter ID"
      },
      competitor_code: {
        required: "Please enter code"
      },
      first_name: {
        required: "Please enter first name"
      },
      last_name: {
        required:  "Please enter last name"
      },
      experience: {
        required:  "Please enter experience"
      },
      dob: {
        required:  "Please enter dob"
      },
      gender: {
        required:  "Please select gender"
      },
      industry_type: {
        required:  "Please enter select industry type"
      },
      bar_date: {
        required:  "Please select bar date"
      },
      belongs_to_state: {
        required:  "Please enter belongs to state"
      },
      independent : {
        required:  "Please select independent rank"
      },
      chambers: {
        required:  "Please select chambers rank"
      },
      best: {
        required:  "Please enter best rank"
      },
      martin: {
        required:  "Please enter martin rank"
      },
      super_lawyer: {
        required:  "Please enter super lawyer rank"
      },
      email: {
        required:  "Please enter email"
      },
      mobile_cell: {
        required:  "Please enter mobile number"
      },
      address_line_1: {
        required:  "Please enter address line 1"
      },
      country_id: {
        required:  "Please select country"
      },
      state_id: {
        required:  "Please select state"
      },
      city_id: {
        required:  "Please select city"
      },
      zipcode: {
        required:  "Please select zipcode"
      }
    }
  });

});
</script>