<section class="content-header">
  <h1>
    Industry Type
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li class="active">Industry Type - <a href="/admin/group">Edit</a></li>
  </ol>
</section>

<section class="content">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              
              <li class="active"><a href="#settings" data-toggle="tab">Industry Type - Edit</a></li>
            </ul>
            <div class="tab-content">
            	
              	{{#if error_message}}
              	<div class="alert alert-danger" id="result77">
              	{{error_message}}
              	</div>
              	{{/if}}
               <div class="tab-pane active" id="settings">
                <form name="frmIndustryType" id="frmIndustryType" method="post" action="/admin/industry-type/edit/{{industry_details.id}}" class="form-horizontal" >
                  
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Code</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control input-control" id="code" placeholder="Enter Industry Code" name="code" value="{{industry_details.code}}">
                      <span class="text-danger"></span>
                    </div>
                  </div>

                  <div class="form-group ">
<<<<<<< HEAD
                    <label for="description" class="col-sm-2 control-label">Industry</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control input-control" id="industry" placeholder="Enter Industry" name="industry" value="{{industry_details.industry}}">
=======
                    <label for="description" class="col-sm-2 control-label">Industry Type</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control input-control" id="industry" placeholder="Enter Industry Type" name="industry" value="{{industry_details.industry}}">
>>>>>>> 839b54ad85d9b3d82442894d6a0529fc6382acc4
                      <span class="text-danger"></span>
                    </div>
                  </div>

                  <div class="form-group ">
                    <label for="remarks" class="col-sm-2 control-label">Remarks</label>

                    <div class="col-sm-10">
                      <textarea class="form-control input-control" id="remarks" placeholder="Enter Remarks" name="remarks" >{{industry_details.remark}}</textarea>
                      <span class="text-danger"></span>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
<<<<<<< HEAD
                      <button type="submit" class="btn btn-danger">Edit</button>
=======
                      <button type="submit" class="btn btn-danger">Submit</button>
>>>>>>> 839b54ad85d9b3d82442894d6a0529fc6382acc4
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

</section>

<script type="text/javascript">
$(document).ready(function(e){

  $(".input-control").on("keydown input", function(e) {
    if ((e.which === 32 && !this.value.length) || (e.shiftKey && (e.which == 188 || e.which == 190)))
        e.preventDefault();
  });

  $(".input-control").bind("copy paste", function(e){
    e.preventDefault();
  });

  $("#frmIndustryType").validate({
    rules: {
      code: {
        required: true
      },
      industry: {
        required:  true
      },
      remarks: {
        required:  true
      }
    },
    messages: {
      code: {
        required: "Please enter industry code"
      },
      industry: {
        required:  "Please enter industry name"
      },
      remarks: {
        required:  "Please enter remarks"
      }
    }
  });
});
</script>