<section class="content-header">
  <h1>
    Target
    <small>Add</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <a href="/admin/target"><button type="button" class="btn bg-purple btn-rightad" style="padding: 2px 5px 2px 5px;margin: -1px 2px 2px 8px;">Back</button></a>

  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- SELECT2 EXAMPLE -->
  <div class="box box-default">
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        {{#if error_message}}
        <div class="alert alert-danger" id="result77">
        {{error_message}}
        </div>
        {{/if}}
        <form name="frmMasterContact" id="frmMasterContact" method="POST" action="/admin/target/add">
        <div class="col-md-6">

          <div class="form-group required">
            <input type="hidden" name="firm_id" id="firm_id" class="form-control" value = "{{firm.id}}">
            <label>First Name</label>
            <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Enter First Name">
          </div>
          <div class="form-group required">
            <label>Last Name</label>
            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Enter Last Name">
          </div>
          <div class="form-group required">
            <label>Code</label>
            <input type="text" name="code" id="code" class="form-control" placeholder="Enter Target Code">
          </div>
          <div class="form-group required">
            <label>Designation</label>
            <select class="form-control" style="width: 100%;" id="designation_id" name="designation_id">
              <option value="">Select Designation</option>
              {{#each designations}}
              <option value="{{this.id}}">{{this.designation}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group required">
            <label>Date Of Birth</label>
            <input type="text" name="dob" id="dob" class="form-control" placeholder="Enter Date Of Birth">
          </div>
          <div class="form-group required">
            <label>Gender</label>
            <select class="form-control" style="width: 100%;" id="gender" name="gender">
              <option value="">Select Any</option>
              <option value="MALE">MALE</option>
              <option value="FEMALE">FEMALE</option>
              <option value="OTHERS">OTHERS</option>
            </select>
          </div>
          <div class="form-group required">
            <label>Contact Status</label>
            <select class="form-control" style="width: 100%;" id="association_status" name="association_status">
              <option value="">Select Any</option>
              <option value="NEW TARGET">NEW TARGET</option>
              <option value="CONVERTED">CONVERTED TO CLIENT</option>
              <option value="TS-INTERIM">INTERIM - REVIEW IN-PROGRESS</option>
            </select>
          </div>
          <div class="form-group required">
            <label>Industry Type</label>
            <select class="form-control" style="width: 100%;" id="industry_type" name="industry_type">
              <option value="">Select Any</option>
              {{#each industry_types}}
              <option value="{{this.id}}">{{this.industry}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group required">
            <label>Attorney</label>
            <select class="form-control" style="width: 100%;" id="attorney_id" name="attorney_id">
              <option value="">Select Any</option>
              {{#each attorney}}
              <option value="{{this.id}}">{{this.first_name}}&nbsp;{{this.last_name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <label>Social Security No</label>
            <input type="text" name="social_security_no" id="social_security_no" class="form-control" placeholder="Enter Social Security No">
          </div>
          <div class="form-group required">
            <label>Master Contact Company</label>
            <input type="text" name="company_name" id="company_name" class="form-control" placeholder="Enter Company Name">
          </div>
          <div class="form-group">
            <label>Twitter Url</label>
            <input type="text" name="twitter" id="twitter" class="form-control url_selector" placeholder="Enter Twitter Url">
          </div>
          <div class="form-group">
            <label>Linkedin Url</label>
            <input type="text" name="linkedin" id="linkedin" class="form-control url_selector" placeholder="Enter Linkedin Url">
          </div>
          <div class="form-group">
            <label>G+ Url</label>
            <input type="text" name="google" id="google" class="form-control url_selector" placeholder="Enter Google Plus Url">
          </div>
          <div class="form-group">
            <label>Youtube Url</label>
            <input type="text" name="youtube" id="youtube" class="form-control url_selector" placeholder="Enter Youtube Url">
          </div>
          <div class="form-group">
            <label>IM</label>
            <input type="text" name="im" id="im" class="form-control" placeholder="Enter IM">
          </div>
          <div class="form-group">
            <label>Remarks</label>
            <textarea name="remarks_notes" id="remarks_notes" class="form-control"></textarea>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group required">
            <label>Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" id="phone" class="form-control" placeholder="Enter Phone No">
          </div>
          <div class="form-group">
            <label>Fax</label>
            <input type="text" name="fax" id="fax" class="form-control" placeholder="Enter Fax">
          </div>
          <div class="form-group">
            <label>Mobile</label>
            <input type="text" name="mobile_cell" id="mobile_cell" class="form-control" placeholder="Enter Mobile">
          </div>
          <div class="form-group">
            <label>Website Url</label>
            <input type="text" name="website_url" id="website_url" class="form-control url_selector" placeholder="Enter Website Url">
          </div>
          <div class="form-group">
            <label>Social Url</label>
            <input type="text" name="social_media_url" id="social_media_url" class="form-control url_selector" placeholder="Enter Social Url">
          </div>
          <div class="form-group required">
            <label>Address Line 1</label>
            <input type="text" name="address_line_1" id="address_line_1" class="form-control" placeholder="Enter Address Line 1">
          </div>
          <div class="form-group">
            <label>Address Line 2</label>
            <input type="text" name="address_line_2" id="address_line_2" class="form-control" placeholder="Enter Address Line 2">
          </div>
          <div class="form-group">
            <label>Address Line 3</label>
            <input type="text" name="address_line_3" id="address_line_3" class="form-control" placeholder="Enter Address Line 3">
          </div>
          <div class="form-group required">
            <label>Country</label>
            <select class="form-control" style="width: 100%;" id="target_country_id" name="country_id">
              <option value="">Select Country</option>
              {{#each countries}}
              <option value="{{this.id}}" {{#if_eq this.id "233"}} selected="selected" {{/if_eq}}>{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group required">
            <label>State</label>
            <select class="form-control" style="width: 100%;" id="target_state_id" name="state_id">
              <option value="">Select State</option>

            </select>
          </div>
          <div class="form-group required">
            <label>City</label>
            <select class="form-control" style="width: 100%;" id="target_city_id" name="city_id">
              <option value="">Select City</option>

            </select>
          </div>
          <div class="form-group required">
            <label>Postal Code</label>
            <select class="form-control" style="width: 100%;" id="target_zipcode" name="zipcode">
              <option value="">Select Zipcode</option>

            </select>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">

            <button type="submit" class="btn btn-danger">Submit</button>

          </div>
        </div>
        </form>

      </div>
      <!-- /.row -->
    </div>

  </div>


</section>
<script type="text/javascript">
$(document).ready(function(e){

  $(".input-control").on("keydown input", function(e) {
    if ((e.which === 32 && !this.value.length) || (e.shiftKey && (e.which == 188 || e.which == 190)))
        e.preventDefault();
  });

  $(".input-control").bind("copy paste", function(e){
    e.preventDefault();
  });

  // to prevent alphabet character
  jQuery('#phone').keyup(function() {
      this.value = this.value.replace(/[^0-9\+]/g, '');
  });

  jQuery('#mobile_cell').keyup(function() {
      this.value = this.value.replace(/[^0-9\+]/g, '');
  });

  jQuery('#fax').keyup(function() {
      this.value = this.value.replace(/[^0-9\+]/g, '');
  });
  //end

  $("#dob").datepicker({
        'format': 'dd-mm-yyyy',
        'autoclose': true,
         
  });

  // country state city operation //
  var country_id = $("#target_country_id").val();
    if(country_id) {
      setTimeout(function() {
        $("#target_country_id").trigger('change');
    },10);
    }
    $("#target_country_id").change(function(e){

      var country_id = $(this).val();
      $("#target_state_id").find('option').not(':first').remove();

      if(country_id) {
        $.ajax({
          type: "POST",
          url: "/admin/firm/get-state",
          data: {country_id:country_id},
          async: false,
          success:function(response) {
            for(var i=0;i<response.states.length;i++) {

              $("#target_state_id").append('<option value="'+response.states[i].id+'">'+response.states[i].name+'</option>');
            }
          }
        });

      }
        $('#target_state_id option:eq(1)').attr('selected', 'selected');

        $( "#target_state_id" ).trigger( "change" );


    });

    $("#target_state_id").change(function(e){
      var state_id = $(this).val();

      $("#target_city_id").find('option').not(':first').remove();
      if(state_id) {
          $.ajax({
            type: "POST",
            url: "/admin/firm/get-city",
            data: {state_id:state_id},
            async: false,
            success:function(response) {
              for(var i=0;i<response.cities.length;i++) {

                $("#target_city_id").append('<option value="'+response.cities[i].id+'">'+response.cities[i].name+'</option>');
              }
            }
          });
      }
      $('#target_city_id option:eq(1)').attr('selected', 'selected');

      $( "#target_city_id" ).trigger( "change" );
    });

    $("#target_city_id").change(function(e){
      var city_name = $("#target_city_id option:selected").text();
      $("#target_zipcode").find('option').not(':first').remove();
      if(city_name) {
        $.ajax({
          type: "POST",
          url: "/admin/firm/get-zipcode",
          data: {city_name:city_name},
          async: false,
          success:function(response) {
            for(var i=0;i<response.zipcodes.length;i++) {
              $("#target_zipcode").append('<option value="'+response.zipcodes[i].zip+'">'+response.zipcodes[i].zip+'</option>');
            }
          }
        });
          $('#target_zipcode option:eq(1)').attr('selected', 'selected');
      }
    });

  // end //

  $("#frmMasterContact").validate({
    rules: {
      first_name: {
        required: true
      },
      last_name: {
        required:  true
      },
      code: {
        required:  true
      },
      designation_id: {
        required:  true
      },
      dob: {
        required:  true
      },
      gender: {
        required:  true
      },
      association_status: {
        required:  true
      },
      industry_type: {
        required:  true
      },
      attorney_id: {
        required:  true
      },
      company_name: {
        required:  true
      },
      email: {
        required:  true
      },
      mobile_cell: {
        required:  true
      },
      address_line_1: {
        required:  true
      },
      country_id: {
        required:  true
      },
      state_id: {
        required:  true
      },
      city_id: {
        required:  true
      },
      zipcode: {
        required:  true
      }

    },
    messages: {
      first_name: {
        required: "Please enter first name"
      },
      last_name: {
        required:  "Please enter last name"
      },
      code: {
        required:  "Please enter code"
      },
      designation_id: {
        required:  "Please select designation"
      },
      dob: {
        required:  "Please enter date of birth"
      },
      gender: {
        required:  "Please select gender"
      },
      association_status: {
        required:  "Please enter select association status"
      },
      industry_type: {
        required:  "Please select industry type"
      },
      attorney_id: {
        required:  "Please select an attorney"
      },
      company_name: {
        required:  "Please enter company name"
      },
      email: {
        required:  "Please enter email"
      },
      mobile_cell: {
        required:  "Please enter mobile number"
      },
      address_line_1: {
        required:  "Please enter address line 1"
      },
      country_id: {
        required:  "Please select country"
      },
      state_id: {
        required:  "Please select state"
      },
      city_id: {
        required:  "Please select city"
      },
      zipcode: {
        required:  "Please select zipcode"
      }
    }
  });

});
</script>