<section class="content-header">
  <h1>
    Referral
    <small>Edit</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="/admin/master-contact">Referral</a></li>

  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- SELECT2 EXAMPLE -->
  <div class="box box-default">
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        {{#if error_message}}
        <div class="alert alert-danger" id="result77">
        {{error_message}}
        </div>
        {{/if}} 
        <form name="frmClient" id="frmClient" method="POST" action="/admin/attorney/referrel/edit/{{master_contact_result.id}}">
          <input type="hidden" name="firm_id" id="firm_id" class="form-control" value = "{{firm.firm_id}}">
          <div class="form-group col-md-12">
            <label class="radio-inline">
              <input type="radio" name="referrel_type" class = "referrel_type" {{#if_eq master_contact_result.type 'I'}} checked="checked" {{/if_eq}} value="I">Individual Target
            </label>
            <label class="radio-inline">
              <input type="radio" name="referrel_type" class ="referrel_type" {{#if_eq master_contact_result.type 'O'}} checked="checked" {{/if_eq}} value="O">Organization
            </label>
          </div>
          <div class="col-md-6">

          <div class="form-group required">

            <div class="form-group required">
                <label>Select Attorney</label>
                <select class="form-control" style="width: 100%;" id="attorney_id" name="attorney_id">
                  <option value="">Select Any</option>
                  {{#each attorney}}
                    <option value="{{this.id}}" {{#if_eq this.id ../master_contact_result.attorney_id}} selected="selected"{{/if_eq}}>{{this.first_name}}&nbsp;{{this.last_name}}</option>
                  {{/each}}
                </select>
            </div>

            <div class="form-group organisation required" style="display:none">
              <label>Organisation Name</label>
              <input type="text" name="organisation" id="organisation" class="form-control" placeholder="Organisation" value="{{master_contact_result.company_name}}">
            </div>
          <div class="form-group fname required">
            <label>Referral First Name</label>
            <input type="text" name="referrel_first_name" id="referrel_first_name" class="form-control" placeholder="Referrel First Name" value="{{master_contact_result.first_name}}">
          </div>
          <div class="form-group lname required">
            <label>Referral Last Name</label>
            <input type="text" name="referrel_last_name" id="referrel_last_name" class="form-control" placeholder="Referrel Last Name" value="{{master_contact_result.last_name}}">
          </div>
          <div class="form-group required">
            <label>Referral Email</label>
            <input type="email" name="referrel_email" id="referrel_email" class="form-control" placeholder="Referrel Email" value="{{master_contact_result.email}}">
          </div>
          <div class="form-group required">
            <label>Phone/mobile</label>
            <input type="text" name="referrel_mobile" id="mobile" class="form-control" placeholder="Referrel Phone/Mobile" value="{{master_contact_result.phone}}">
          </div>
          <div class="form-group required">
            <label>Referred By</label>
            <label class="radio-inline">

              <input type="radio" name="ref" class="referred_by" value="T" {{#if_eq ref.record_type 'T'}} checked="checked" {{/if_eq}}>Target
            </label>
            <label class="radio-inline">
              <input type="radio" name="ref" class="referred_by" value="C" {{#if_eq ref.record_type 'C'}} checked="checked" {{/if_eq}}>Client
            </label>

            <div class="form-group targets required">
              <select class="form-control" style="width: 100%;" id="target" name="referred_by_target">
                <option value="">Select Target</option>
                {{#each targets}}
                  <option value="{{this.id}}" {{#if_eq this.id ../master_contact_result.referrel_id}} selected="selected"{{/if_eq}}>{{this.first_name}}&nbsp;{{this.last_name}}</option>
                {{/each}}
              </select>
            </div>

            <div class="form-group clients required" style="display:none">
                <select class="form-control" style="width: 100%;" id="client" name="referred_by_client">
                  <option value="">Select Client</option>
                  {{#each clients}}
                    <option value="{{this.id}}" {{#if_eq this.id ../master_contact_result.referrel_id}} selected="selected"{{/if_eq}}>{{this.first_name}}&nbsp;{{this.last_name}}</option>
                  {{/each}}
                </select>
            </div>
          </div>
          <div class="form-group">
            <label>Remarks</label>
            <textarea name="remarks_notes" id="remarks_notes" class="form-control">{{master_contact_result.remarks_notes}}</textarea>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">

            <button type="submit" class="btn btn-danger">Submit</button>

          </div>
        </div>
        </form>

      </div>
      <!-- /.row -->
    </div>

  </div>


</section>
<script type="text/javascript">
$(document).ready(function(e){
  var new_ref = "{{ref.record_type}}";
  if(new_ref == 'C') {
      $('.clients').show();
      $('.targets').hide();
  } else {
      $('.targets').show();
      $('.clients').hide();
  }
      
  var ref_type = "{{master_contact_result.type}}";
  if(ref_type == 'O') {
      $('.organisation').show();
      $('.fname').hide();
      $('.lname').hide();
  } else {
      $('.organisation').hide();
      $('.fname').show();
      $('.lname').show();
  }

  $('.referrel_type').click(function(){
      var referrel_type = $(this).val();
      if(referrel_type == 'O') {
          $('.organisation').show();
          $('.fname').hide();
          $('.lname').hide();
      } else {
          $('.organisation').hide();
          $('.fname').show();
          $('.lname').show();
      }
  });

  $('.referred_by').click(function(){
      var referred_by = $(this).val();
      if(referred_by == 'C') {
          $('.clients').show();
          $('.targets').hide();
      } else {
          $('.targets').show();
          $('.clients').hide();
      }
  });



  $("#frmClient").validate({
    rules: {
      referrel_type: {
        required: true
      },
      referrel_first_name: {
        required: true
      },
      referrel_last_name: {
        required:  true
      },
      organisation: {
        required:  true
      },
      referrel_email: {
        required:  true,
        email: true
      },
      referrel_mobile: {
        required:  true
      },
      referred_by: {
        required:  true
      },
      remarks_notes: {
        required:  true
      },
      attorney_id: {
        required:  true
      }
    },
    messages: {
      referrel_type: {
        required: "Choose referrel type"
      },
      referrel_first_name: {
        required: "Please enter first name"
      },
      referrel_last_name: {
        required:  "Please enter last name"
      },
      organisation: {
        required:  "Please enter organisation"
      },
      referrel_email: {
        required:  "Please enter email",
        email: "Enter valid email"
      },
      referrel_mobile: {
        required:  "Please enter mobile"
      },
      referred_by: {
        required:  "Please select a referrel ID"
      },
      remarks_notes: {
        required:  "Please enter note"
      },
      attorney_id: {
        required:  "Please select an attorney"
      }
    }
  });

});
</script>