<section class="content-header">
      <h1>
        Activity Budget List
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>

        <li class="active">Activity Budget List</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-header">
            </div>
            <!-- /.box-header -->
            <div class="topbtn">
              <a href="#add_client_modal" data-toggle="modal"><button type="button" class="btn bg-purple btn-rightad">Add Target/Client <i class="fa fa-plus"></i></button></a>
              {{#if budget_count}}
                <a href="/admin/activity/budget/edit/{{activity_id}}"><button type="button" class="btn bg-purple btn-rightad">Edit Budget Report</button></a>
                <a href="/admin/activity/budget/delete/{{activity_id}}"><button type="button" class="btn bg-purple btn-rightad">Delete Budget Report</button></a>
              {{else}}
                <a href="/admin/activity/budget/add/{{activity_id}}"><button type="button" class="btn bg-purple btn-rightad">Add</button></a>
              {{/if}}
            </div>
            <div class="box-body">
              <div id="success-msg"></div>
              {{#if succ_add_msg}}
                <div class="alert alert-success" id="result77">
                {{succ_add_msg}}
                </div>
              {{/if}}

              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>SL#</th>
                  <th>Budget code</th>
                  <th>Budget code hours</th>
                  <th>Budget code cost</th>
                  <th>Budget details status</th>
                </tr>
                </thead>
                <tbody>
                    {{#each details}}
                     <tr>
                      <td>{{this.id}}</td>
                      {{#if this.budget_code}}
                        <td>{{this.budget_code}}</td>
                      {{else}}
                        <td>N/A</td>
                      {{/if}}
                      {{#if this.budget_code_hours}}
                        <td>{{this.budget_code_hours}}</td>
                      {{else}}
                        <td>N/A</td>
                      {{/if}}
                      {{#if this.budget_code_cost}}
                        <td>{{this.budget_code_cost}}</td>
                      {{else}}
                        <td>N/A</td> 
                      {{/if}}                
                      <td>{{this.budget_dtl_status}}</td>
                     </tr>
                    {{/each}}
                </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
<div id="add_client_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title"><b style=" color:#333">Add Attorney Budget Per Client/Target</b></div>
            </div>
            <div class="modal-body">
              <div id="create_event" class=" mt10">
                <div class="col-md-12">
                  <div id="message"></div>
                  <form name="add_target_or_client" id="add_target_or_client" action="/admin/firm-activity/add_client_or_target" method="post"> 
                      <input type="hidden" name="activity_id" id="activity_id" value="{{activity_id}}">
                      <input type="hidden" name="attorney_id" id="attorney_id" value="{{user.id}}">

                      <div class="form-group required">
                        <label class="col-md-4 control-label">Attorney:</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" name="attorney" id="attorney" value="{{attorney.first_name}}&nbsp;{{attorney.last_name}}" readonly="readonly">
                          <span class="help-block"></span>
                        </div>
                      </div>

                      <div class="form-group required">
                        <label class="col-md-4 control-label">Relation:</label>
                        <div class="col-md-8">
                          <input type="radio" name="relation_type" id="relation_type" value="T" class="relation" checked="checked"> Target&nbsp;
                          <input type="radio" name="relation_type" id="relation_type" value="C" class="relation"> Client
                          <span class="help-block">  </span>
                        </div>
                      </div>

                      <div class="form-group targets required">
                        <label class="col-md-4 control-label">Target:</label>
                          <div class="col-md-8">
                            <select class="form-control" style="margin-bottom: 12px;" name="relation_target" id="relation_target">
                              <option value="">Select Target</option>
                              {{#each target}}
                                <option value="{{this.id}}">{{this.first_name}}&nbsp;{{this.last_name}}</option>
                              {{/each}}
                            </select>
                          </div>
                      </div>

                      <div class="form-group clients required" style="display:none">
                        <label class="col-md-4 control-label">Client:</label>
                          <div class="col-md-8">
                            <select class="form-control" id="relation_client" name="relation_client" style="margin-bottom: 12px;">
                              <option value="">Select Client</option>
                              {{#each client}}
                                <option value="{{this.id}}">{{this.first_name}}&nbsp;{{this.last_name}}</option>
                              {{/each}}
                            </select>
                          </div>
                      </div>

                      <div class="form-group required">
                        <label class="col-md-4 control-label">Potential Revenue:</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" name="potential_rev" id="potential_rev" placeholder="Add client/target revenue">
                          <span class="help-block"></span>
                        </div>
                      </div>

                      <div class="form-group required">
                        <label class="col-md-4 control-label">Activity Details Status:</label>
                        <div class="col-md-8">
                          <select class="form-control" name="activity_dtl_status" id="activity_dtl_status">
                            <option value="">Select One</option>
                            <option value="ADS-PLANNED">PLANNED</option>
                            <option value="ADS-UNPLANNED">UNPLANNED</option>
                            <option value="TODELETE">DELETED ITEM - TO BE SKIPPED</option>
                          </select>
                          <span class="help-block"> </span>
                        </div>
                      </div>

                      <div class=" col-md-12">
                        <button type="button" id="close_btn" data-dismiss="modal" class="btn bg-purple btn-rightad" style="margin-right: -18px;">Close</button>
                        <button type="submit" id="submit_target_or_client" class="btn bg-purple btn-rightad">Submit</button>
                      </div>
                  </form>
                </div>
              </div>
              <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function(e){
    $('.relation').click(function(){
          var relation = $(this).val();
          if(relation == 'C') {
              $('.clients').show();
              $('.targets').hide();
          } else {
              $('.targets').show();
              $('.clients').hide();
          }
    });

    $("#potential_rev").inputmask("numeric", {
        radixPoint: ".",
        groupSeparator: ",",
        digits: 2,
        autoGroup: true,
        prefix: '$ ', 
        rightAlign: false
    });

    $("#add_target_or_client").validate({
      rules: {
        relation_type: {
          required: true
        },
        relation_target: {
          required:  true
        },
        relation_client: {
          required:  true
        },
        potential_rev: {
          required:  true
        },
        activity_dtl_status: {
          required:  true
        }
      },
      messages: {
        relation_type: {
          required: "Please choose relation type"
        },
        relation_target: {
          required:  "Please select target"
        },
        relation_client: {
          required:  "Please select client"
        },
        potential_rev: {
          required:  "Please enter potential revenue"
        },
        activity_dtl_status: {
          required:  "Please select activity status"
        }
      },
      submitHandler: function(form) {
        var relation_type = $('input[name=relation_type]:checked').val();
        if(relation_type == 'T') {
          var output = 'Target';
        } else {
          var output = 'Client';
        }
        $.ajax({
            type: "POST",
            url: "/admin/firm-activity/add_client_or_target",
            data: {
              activity_id: $("#activity_id").val(),
              attorney_id: $("#attorney_id").val(),
              relation_type: relation_type,
              contact_id: relation_type == 'T'?$('#relation_target').val():$('#relation_client').val(),
              potential_rev: $("#potential_rev").val(),
              activity_dtl_status: $("#activity_dtl_status").val(),
            },
            success:function(response) {
              if(response == 'success') {
                $('#message').html('<div class ="alert alert-success">'+output+' added successfully</div>');
                setTimeout(function(){ $("#close_btn").trigger("click");}, 1000);
              } else {
                $('#message').html('<div class ="alert alert-danger">Some error</div>');
              }
            }
        });
      }
  });
});
</script>